*.pyc
/py/env/
/py/kpopnet.egg-info/

/go/src/*
/go/bin/
/go/pkg/
!/go/src/kpopnet/
/go/src/kpopnet/testdata
/tags

/node_modules/
/package-lock.json
/dist/
/ts/labels/labels.png
/ts/labels/labels@2x.png
/ts/labels/labels.css

/data/images/
/data/models/
