.idols__incomplete {
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.1;
}

.idol {
  display: flex;
  width: 800px;
  margin-bottom: 50px;
}

.idol__preview {
  min-width: 350px;
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

.idol__info {
  width: 100%;
  margin-left: 10px;
  border-left: 1px solid #d5d5d5;
  padding-left: 20px;
  font-size: 18px;
}

.idol__info-line {
  display: flex;
  margin: 0;
}
.idol__info-line:first-child {
  font-size: 36px;
  border-bottom: 5px solid #6b6c9a;
  margin-bottom: 12px;

  .idol__info-key {
    display: none;
  }
}

.idol__info-key {
  flex: 0 0 115px;
  color: #bbb;
  word-break: break-word;
}

.idol__info-val {
  word-break: break-word;
}
