.idol {
  display: flex;
  align-items: flex-start;
  width: 800px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px;
}
.idol:last-child {
  border: 0;
}

.idol__preview {
  display: block;
  width: 400px;
  user-select: none;
}

.idol__info {
  padding-left: 30px;
  font-size: 18px;
}

.idol__info-line {
  margin: 0;
  white-space: nowrap;
}
