.recognizer {
  position: relative;
  margin-bottom: 100px;
}

.recognizer__preview {
  width: 800px;
  height: 800px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

.recognizer_loading {
  .recognizer__preview {
    opacity: 0.5;
  }
}
