html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  color: #333;
  background: #ebeaeb;
  font-family: Helvetica,sans-serif;
  line-height: 1.4;
}

.index {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.index__inner {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  height: 51px;
  line-height: 50px;
  font-size: 20px;
  background: #ddd;
  border-top: 1px solid #ccc;
}

.footer__inner {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer__link {
  color: #7e488f;
  text-decoration: none;
}

.footer__link:hover {
  color: #9e85ad;
}
