html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #333;
  background: #ebeaeb;
  font-family: Helvetica,sans-serif;
  line-height: 1.4;
}

.index {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.index__inner {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 400px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #999;
  border: 2px dashed #ccc;
  cursor: pointer;
  user-select: none;
}

.dropzone__file {
  display: none;
}

.idol {
  display: flex;
  align-items: flex-start;
  width: 800px;
}

.idol__img {
  display: block;
  width: 500px;
  user-select: none;
}

.idol__info {
  padding-left: 30px;
  font-size: 18px;
}

.idol__info-line {
  margin: 0;
  white-space: nowrap;
}

.footer {
  height: 51px;
  line-height: 50px;
  font-size: 20px;
  background: #ddd;
  border-top: 1px solid #ccc;
}

.footer__inner {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer__link {
  color: #7e488f;
  text-decoration: none;
}

.footer__link:hover {
  color: #9e85ad;
}
